<h1>Welcome to the installations#show page</h1>
<br>
<h2><%= @installation.name %></h2>
<i><%= @installation.address %></i>
<br/><br/>
<p><%= @installation.description %></p>

<!-- Suggest an edit (user can submit a comment if there's a typo or whatever) -->